![Tests passed successfully](https://img.shields.io/badge/tests-1%20passed-success)
## 🟢 <a id="user-content-r0" href="#user-content-r0">fixtures/external/jest/jest-react-component-test-results.xml</a>
**1** tests were completed in **1000ms** with **1** passed, **0** failed and **0** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|🟢 [\<Component /\>](#user-content-r0s0)|1|||798ms|
### 🟢 <a id="user-content-r0s0" href="#user-content-r0s0">\<Component /\></a>
```
🟢 <Component /> should render properly [704ms]
```