![Tests passed successfully](https://img.shields.io/badge/tests-1%20passed-success)
<details><summary>Expand for details</summary>
 
|Report|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|🟢 fixtures/external/jest/jest-react-component-test-results.xml|1|||1000ms|
## 🟢 <a id="user-content-r0" href="#r0">fixtures/external/jest/jest-react-component-test-results.xml</a>
**1** tests were completed in **1000ms** with **1** passed, **0** failed and **0** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|🟢 [\<Component /\>](#r0s0)|1|||798ms|
### 🟢 <a id="user-content-r0s0" href="#r0s0">\<Component /\></a>
```
🟢 <Component /> should render properly
```
</details>